@font-face {
  font-family: 'Mist';
  src: url('../assets/fonts/Mist-Regular.ttf') format('truetype');
}

$font-stack: 'Mist', sans-serif;

#home-gallery {
  width: 90%;
  height: 60%;
  margin: 0 auto;

  .home-territory {
    display: inline-block;
    width: 20%;
    height: 80%;
    margin: 0 2%;

    h3 {
      width: 100%;
      height: 100%;
      margin: 0 inherit;
      font-size: 150%;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.row {
  width: 100%;
  height: 20%;
  text-align: center;
}

body {
  font-family: $font-stack;
}
